<!DOCTYPE html>
<html>
<head>
  <title>Number Game</title>
  <style>
   body {
     font-family: Tahoma, Geneva, sans-serif 
   }
   p { font-size: 40px; font-weight: bold;}
   body { padding-top: 40px; padding-left: 125px; }
   .right { color: green }
   .wrong { color: red }
   .image { text-align: center }
  </style>
</head> 

<body>

<% current_image = Random.rand game.test_loader.dataset.images.size %>


<div class='image'>
<h1>Image <%= current_image %></h1>
<img src="/<%= current_image %>.png" width="280", height="280"/>
</div>

<% prediction =  game.predict(current_image) %>

<p>
I think image #<%= current_image %> is a <%= prediction %>
</p>

<p>
It is a <%= game.label(current_image) %> and 
I was <%= prediction == game.label(current_image) ? "<span class='right'>right</span>" : "<span class='wrong'>wrong</span>" %>
</p>

</body>

</html>
